{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ shelter_name }} - Adopt a Dog</title>
  <link rel="stylesheet" href="{% static "css/tachyons.min.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body class="sans-serif">
  <header class="pv3 bg-shelter-blue white bb bw2 b--washed-green">
    <div class="flex justify-between items-center mw8 center">
      <h1 class="site-logo"><a class="white" href="/">{{ shelter_name }}</a></h1>
      <nav class="main-menu">
        <ul class="main-menu__list list pl0 tr">
          <li class="main-menu__list-item ph2 dib"><a class="nav-link white" href="#">About</a></li>
          <li class="main-menu__list-item ph2 dib"><a class="nav-link white" href="/contact/">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container mw8 center">
    {% block content %}{% endblock %}
  </div>  
</body>

</html>
