{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ shelter_name }} - Adopt a Dog</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body class="sans-serif">
  <header class="pv3 bg-navy white bb bw2 b--washed-green">
    <div class="flex justify-between items-center mw8 center">
      <h1 class="site-logo">{{ shelter_name }}</h1>
      <nav class="main-menu">
        <ul class="main-menu__list list pl0 tr">
          <li class="main-menu__list-item ph2 dib"><a class="nav-link white" href="#">About</a></li>
          <li class="main-menu__list-item ph2 dib"><a class="nav-link white" href="#">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container mw8 center">
    <h2>Adopt a Dog</h2>
    <p>
      If you are interested in adopting one of our animals, please fill out our
      <a href="adoption.html">online adoption form</a>.
    </p>
    <section class="search pa3 bg-light-gray">
      <h3 class="search__title mb0">Show me dogs that are...</h3>
      <form class="search__form flex">
        <div class="search__choice mr5">
          <h4>Gender</h4>
          <label class="db"><input class="mr1" type="radio" name="gender_choice" value="male">Male</label>
          <label class="db"><input class="mr1" type="radio" name="gender_choice" value="female">Female</label>
          <label class="db"><input class="mr1" type="radio" name="gender_choice" value="all" checked="checked">All</label>
        </div>
        <div class="search__choice mr5">
          <h4>Age</h4>
          <label class="db"><input class="mr1" type="radio" name="age_choice" value="puppy">Puppy</label>
          <label class="db"><input class="mr1" type="radio" name="age_choice" value="young">Young</label>
          <label class="db"><input class="mr1" type="radio" name="age_choice" value="adult">Adult</label>
          <label class="db"><input class="mr1" type="radio" name="age_choice" value="senior">Senior</label>
          <label class="db"><input class="mr1" type="radio" name="age_choice" value="all" checked="checked">All</label>
        </div>
        <div class="search__choice mr5">
          <h4>Size</h4>
          <label class="db"><input class="mr1" type="checkbox" name="size_choice" value="tiny">Tiny</label>
          <label class="db"><input class="mr1" type="checkbox" name="size_choice" value="small">Small</label>
          <label class="db"><input class="mr1" type="checkbox" name="size_choice" value="medium">Medium</label>
          <label class="db"><input class="mr1" type="checkbox" name="size_choice" value="large">Large</label>
        </div>
        <div class="search__choice mr5">
          <h4>Personality Traits</h4>
          <label class="db"><input class="mr1" type="checkbox" name="personality_choice" value="easygoing">Easygoing</label>
          <label class="db"><input class="mr1" type="checkbox" name="personality_choice" value="energetic">Energetic</label>
          <label class="db"><input class="mr1" type="checkbox" name="personality_choice" value="kids">Good with kids</label>
          <label class="db"><input class="mr1" type="checkbox" name="personality_choice" value="dogs">Good with other
            dogs</label>
          <label class="db"><input class="mr1" type="checkbox" name="personality_choice" value="cats">Good with cats</label>
        </div>
      </form>
    </section>
    <section>
      <div class="flex flex-wrap">
        {% for dog in dogs %}
        <div class="w-30 mr3 mt3 mb3">
          <img src="{% static "dogs/" %}{{ dog.imgsrc }}" alt="{{ dog.name }}, {{ dog.description }}">
          <div class="fw6 tracked-tight f4">{{ dog.name }}</div>
          <div>
            {% for quality in dog.qualities %}
            <span class="br-pill pa1 dib mv1 bg-lightest-blue">{{ quality }}</span>            
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>  
</body>

</html>
