{% extends "pets/base.html" %}
{% load staticfiles %}

{% block content %}
    <h2>Adopt a Dog</h2>
    <p>
      If you are interested in adopting one of our animals, please fill out our
      <a href="adoption.html">online adoption form</a>.
    </p>
    <section class="search pa3 bg-light-gray">
      <h3 class="search__title mb0">Show me dogs that are...</h3>
      <form method="GET" action="{% url 'dog_list' %}">
      {{ search_form.as_p }}
      <button type="submit">Search</button>
      <a href="{% url "dog_list" %}">Reset search</a>
      </form>
    </section>
    <section>
      <div class="flex flex-wrap">
        {% if dogs %}
          {% for dog in dogs %}
          <div class="w-30 mr3 mt3 mb3">
            {% if dog.picture %}
            <a href="{% url 'dog_detail' dog_id=dog.id %}">
            <img src="{{ dog.picture.url }}" alt="{{ dog.name }}, {{ dog.description }}">
            </a>
            {% endif %}
            <div class="fw6 tracked-tight f4">
              <a href="{% url 'dog_detail' dog_id=dog.id %}">
              {{ dog.name }}
              </a>
            </div>
            <div>
              {% for quality in dog.get_qualities %}
              <span class="br-pill pa1 dib mv1 bg-lightest-blue">{{ quality }}</span>            
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        {% else %}
          <p>
            No dogs matched your search. 
            Would you like to <a href="{% url "dog_list" %}">see all dogs</a>?
          </p>
        {% endif %}
      </div>
    </section>
{% endblock %}
